
.navbar_mobile_anim-enter {
    transform: translateY(100px);
  }

.navbar_mobile_anim-enter-active {
    transform: translateY(0);
    transition: 1s cubic-bezier(0, 1.07, 0, 0.99);
}
  
.navbar_mobile_anim-exit {
    opacity: 1;
}

.navbar_mobile_anim-exit-active {
    transform: translateY(100px);
    transition: 1s cubic-bezier(0, 1.07, 0, 0.99);
}




.modal_bg_anim-enter {
    opacity: 0;
}

.modal_bg_anim-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in;
}
  
.modal_bg_anim-exit {
    opacity: 1;
}

.modal_bg_anim-exit-active {
    opacity: 0;
    display: none;
    transition: all 0.2s ease-in;
}

.modal_bg_anim-exit-done {
    display: none;
    opacity: 0;
}



.modal_anim-enter {
    transform: translateY(150%);
}

.modal_anim-enter-active {
    transform: translateY(0%);
    transition: all 1s cubic-bezier(0, 1.07, 0, 0.99);
}
  
.modal_anim-exit {

}

.modal_anim-exit-active {
    transform: translateY(150%);
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.modal_anim-exit-done {
    transform: translateY(150%);

}