@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("menu.css");
@import url("modal.css");
@import url("settings.css");
@import url("faq.css");


:root {
    --var-bg: #EDEDED;
    --var-block: #ffffff;
    --var-text-and-icons: #000000;
    --var-elements: #f6f6f6;
    --var-deadline-button: #FFFFFF;
    --var-mobile-nav-bar: #ffffffb3;
    --var-active-element: #919191;
    --var-switcher-bg: #C9C9C9;
    --var-red: #E34A4A;
    --var-hover: #b8b8b85a;
    --var-push: #b8b8b885;
    --var-modal-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --var-bg: #000000;
        --var-block: #121212;
        --var-text-and-icons: #FFFFFF;
        --var-elements: #1d1d1d;
        --var-deadline-button: #383838;
        --var-mobile-nav-bar: #000000b3;
        --var-active-element: #2B2B2B;
        --var-switcher-bg: #3D3D3D;
        --var-red: #E34A4A;
        --var-hover: #2b2b2b94;
        --var-push: #2b2b2bbc;
        --var-modal-bg: #121212;
    }
}

* {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    letter-spacing: 0em;
    line-height: 1.2;
    font-style: normal;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    overflow: overlay;
    height: 12px;
    width: 7px;
    position: absolute;
}

*::-webkit-scrollbar-track {
    overflow: overlay;
    background: var(--var-bg);

}

*::-webkit-scrollbar-thumb {
    overflow: overlay;
    background-color: var(--var-text-and-icons);
    border-radius: 5px;
    opacity: 0.3;
}

.App {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}


h1 {
    font-weight: 700;
    color: var(--var-text-and-icons);
    font-size: 28px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    user-select: none;
    cursor: default;
}

h2 {
    font-weight: 700;
    color: var(--var-text-and-icons);
    font-size: 22px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    position: relative;
}

h3 {
    font-weight: 600;
    color: var(--var-text-and-icons);
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
}

h4 {
    font-weight: 600;
    color: var(--var-text-and-icons);
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
}

p {
    font-weight: 600;
    color: var(--var-text-and-icons);
    font-size: 13px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.text_back {
    font-size: 28px;
}

.text_file {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.bottom_text {
    font-weight: 600;
    color: var(--var-text-and-icons);
    font-size: 12px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.3;
    line-height: 1.5;
}

.project_title {
    font-size: 50px;
    margin-bottom: 8px;
    user-select: none;
    cursor: pointer;
}

.icon_nav {
    font-size: 26px;
    color: var(--var-text-and-icons);
}

.icon_big {
    font-size: 30px;
    color: var(--var-text-and-icons);
}

.icon_mid {
    font-size: 24px;
    color: var(--var-text-and-icons);
}

.icon_min {
    font-size: 20px;
    color: var(--var-text-and-icons);
}

.icon_lighter {
    font-size: 20px;
}

.var_textcolor {
    color: var(--var-text-and-icons);
}

.date {
    width: fit-content;
    height: min-content;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: normal;
}

.breaker {
    flex-shrink: 1;
    width: calc(100% - 20px);
    height: 1px;
    display: block;
    background-color: var(--var-text-and-icons);
    overflow: hidden;
    opacity: 0.1;
    position: relative;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

.breaker_ver {
    flex-shrink: 1;
    width: 1px;
    height: 24px;
    display: block;
    background-color: var(--var-text-and-icons);
    overflow: hidden;
    opacity: 0.1;
    position: relative;
    border-radius: 10px;
    margin: 0;
}

.low_opacity {
    opacity: 0.6;
}

.full_opacity {
    opacity: 1;
}

.sky {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0.7;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--var-bg);
    width: 100%;
    height: min-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.main_container {
    box-sizing: border-box;
    width: 1360px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 0px 20px 80px 20px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}

.header_container {
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
}

.content_container {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0;
    align-content: flex-start;
    flex-wrap: nowrap;
}



.nav_bar_container {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.nav_bar {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--var-block);
    align-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.nav_elem_container {
    box-sizing: border-box;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px 8px 18px;
    align-content: center;
    cursor: pointer;
    text-decoration-line: none;
    opacity: 0.6;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.nav_tablet {
    display: none;
}

a {
    text-decoration-line: none;
}

.block {
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    width: 560px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px 30px 30px 30px;
    background-color: var(--var-block);
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 45px;
    border-radius: 23px;
}

.edge_block {
    width: 320px;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.title_container {
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 10px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    gap: 10px;
}

.button_cover {
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    cursor: pointer;
    position: relative;
}

.button_main {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 20px 14px 20px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    user-select: none;

    box-shadow: 0px 4px 10px 0px rgba(191, 239, 255, 0.25);
    background: linear-gradient(66deg, #2352b8 0%, hsl(201, 48%, 61%) 100%);
    background: var(--var-text-and-icons);

    transition: all 0.08s ease-in-out;
}

@media (pointer: fine) {
.button_main:hover {
    opacity: 0.9;
}
}

.button_main:active {
    opacity: 0.8;
}

.text_button_main {
    color: var(--var-bg);
}

.button_cover_elem {
    width: min-content;
    height: max-content;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    cursor: pointer;
    position: relative;
}

.button_red {
    width: min-content;
    height: min-content;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    cursor: pointer;
    position: relative;
}

@media (pointer: fine) {
    .button_red:hover {
        background-color: rgba(255, 2, 2, 0.07);
    }
}

.button_red:active {
    background-color: rgba(255, 0, 0, 0.14);
}

.course_list_container {
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    align-content: center;
    gap: 10px;
}

.course_list_item {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 14px 14px 16px;
    background-color: var(--var-elements);
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    border-radius: 14px;
    cursor: pointer;
}


.element_container {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.content_cover {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--var-elements);
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    border-radius: 14px;
}

.content_elem_column {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 17px;
}

.content_elem_row {
    box-sizing: border-box;
    flex-shrink: 1;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 17px;
}

.content_inner_column {
    box-sizing: border-box;
    flex-shrink: 1;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 17px;
}

.container_row_zero {
    box-sizing: border-box;
    flex-shrink: 1;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}

.container_row_start {
    flex-shrink: 1;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.extended_gap {
    gap: 17px;
}

.container_column_start {
    flex-shrink: 1;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 7px;
}

.lighter {
    box-sizing: border-box;
    flex-shrink: 0;
    width: fit-content;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 14px 0px 14px;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 10px;
}

.text_lighter {
    color: white;
}

.lab {
    box-shadow: 0px 4px 8px 1px rgba(145, 40, 175, 0.25);
    background: linear-gradient(244deg, #b41dbf 0%, hsl(264, 63%, 46%) 100%);
}

.pract {
    box-shadow: 0px 4px 8px 1px rgba(175, 87, 40, 0.25);
    background: linear-gradient(244deg, #b7860b 0%, hsl(23, 71%, 43%) 100%);
}

.lect {
    box-shadow: 0px 4px 8px 1px rgba(40, 175, 82, 0.25);
    background: linear-gradient(72deg, #189062 0%, hsl(71, 75%, 34%) 100%);
}

.exam {
    box-shadow: 0px 4px 8px 1px rgba(40, 71, 175, 0.25);
    background: linear-gradient(244deg, #0b83b7 0%, hsl(255, 71%, 43%) 100%);
}

.declined {
    box-shadow: 0px 4px 8px 1px rgba(175, 40, 40, 0.25);
    background: linear-gradient(244deg, #d15252 0%, hsl(0, 83%, 39%) 100%);
}

.not_checked {
    box-shadow: 0px 4px 8px 1px rgba(74, 74, 74, 0.26);
    background-color: var(--var-deadline-button);
}

.lesson_active {
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    display: block;
    background-color: #59d430;
    position: relative;
    border-radius: 59px;
    box-shadow: 0px 1px 5px 1px rgba(55, 255, 0, 0.25);
    animation: pulsing 4s ease-in-out infinite;
}

.column_container_mini {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.deadline_row_container {
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
}

.tablet_back {
    display: none;
}

.back_container {
    display: flex;
    padding: 7px 10px 0px 10px;
}

.visible {}

.hidden {
    display: none;
}

.select {
    cursor: pointer;
    transition: 0.08s ease-in-out;
    user-select: none;
}

@media (pointer: fine) {
    .select:hover {
        background-color: var(--var-hover);
    }
}

.select:active {
    background-color: var(--var-push);
}

.active {
    opacity: 1;
}

.unactive {
    opacity: 0.6;
}

.enabled_invert {
    filter: invert(1);
}

.tablet {
    display: none;
}

.desktop_only {
    display: flex;
}

.input {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    background-color: transparent;
    color: var(--var-text-and-icons);
    outline: none;
    border: 0;
    padding: 0;
}

.solo_block {
    margin: 0 auto;
}

input::placeholder {
    color: var(--var-text-and-icons);
    opacity: 0.6;
}

.red {
    color: var(--var-red);
}


@media (max-width: 1360px) {
    .main_container {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .content_container {
        justify-content: center;
    }

    .nav_tablet {
        display: flex;
    }

    .edge_block {
        display: none;
    }

    .course_list_item {
        padding: 16px 12px 16px 16px;
    }

    .desktop_only {
        display: none;
    }

    .tablet {
        display: flex;
    }


}

@media (min-width: 601px) {
    @media (pointer: fine) {
        .nav_elem_container:hover {
            background-color: var(--var-hover);
        }
    }
    
    .nav_elem_container:active {
        background-color: var(--var-push);
    }
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .main_container {
        padding-bottom: 94px;
    }

    .project_title {
        font-size: 40px;
    }

    .block {
        width: 100%;
        padding: 35px 20px 20px 20px;
    }

    .nav_bar_mobile {
        display: flex;
    }


    .nav_bar_mobile {
        width: 74%;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--var-mobile-nav-bar);
        overflow: hidden;
        padding: 0;
        align-content: center;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 17px;
        position: fixed;
        bottom: 20px;
        left: 13%;
        right: auto;
        z-index: 3;
        animation: enter 1s cubic-bezier(0, 1.07, 0, 0.99);
    }
    
    .nav_bar_mobile_container {
        flex-shrink: 0;
        flex: 1 0 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        align-content: center;
        flex-wrap: nowrap;
        cursor: pointer;
    }

    .icon_nav_mobile {
        font-size: 28px;
        color: var(--var-text-and-icons);
    }

}

@keyframes enter {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}