.modal_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 560px;
    height: min-content;
    z-index: 6;
    display: flex;
    flex-direction: column;
    background-color: var(--var-modal-bg);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.6);
    overflow: hidden;

    padding: 34px 20px 20px 20px;
    gap: 40px;
}

.modal_title_text {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}




@media (max-width: 600px) {
    .modal {
        height: min-content;
        width: calc(100vw - 40px);
    }
}