.modal_bg_anim-enter {
    opacity: 0;
}

.modal_bg_anim-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in;
}
  
.modal_bg_anim-exit {
    opacity: 1;
}

.modal_bg_anim-exit-active {
    opacity: 0;
    display: none;
    transition: all 0.2s ease-in;
}

.modal_bg_anim-exit-done {
    display: none;
    opacity: 0;
}



.modal_anim-enter {
    transform: translateY(150%);
}

.modal_anim-enter-active {
    transform: translateY(0%);
    transition: all 1s cubic-bezier(0, 1.07, 0, 0.99);
}
  
.modal_anim-exit {

}

.modal_anim-exit-active {
    transform: translateY(150%);
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.modal_anim-exit-done {
    transform: translateY(150%);

}




.modal_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 560px;
    height: min-content;
    z-index: 6;
    display: flex;
    flex-direction: column;
    background-color: var(--var-modal-bg);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -10px 30px 1px rgba(0, 0, 0, 0.28);
    overflow: hidden;

    padding: 34px 20px;
    gap: 40px;
}

.modal_title_text {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.attach_cover {
    border: 2px dashed;
    border-color: var(--var-text-and-icons);
    box-sizing: border-box;
    flex-shrink: 0;
    width: calc(100% - 4px);
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    border-radius: 20px;
    opacity: 0.6;
}

.attach_container {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 17px;
    text-align: center;
}




@media (max-width: 600px) {
    .modal {
        height: min-content;
        width: calc(100vw - 40px);
    }
}