@import url("main.css");

.calendar_block {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 245px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background-color: var(--var-elements);
    overflow: hidden;
    z-index: 3;
    align-content: center;
    flex-wrap: nowrap;
    position: absolute;
    border-radius: 13px;
    top: 41px;
    right: 30px;
}


@media (max-width: 600px) {
    .calendar_block {
        position: relative;
        width: 100%;
        top: 0px;
        right: 0px;
    }
}