.home-container {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 0;
	width: 100%;
	overflow: hidden;

}

.header-button {
	position: fixed;
	top: 20px;
	margin-left: 1220px;
	width: 100px;
	height: 31px;
	padding-bottom: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 6;

	border-radius: 11px;
	box-shadow: 0px 5px 10px 0px var(--var-shadow);
	background-color: var(--var-text-and-icons);

	transform: translateY(-100px);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;

	.header-button-text {
		color: var(--var-bg);
	}
}

.header-button.visible {
	transform: translateY(0);
	opacity: 1;
}

.big-letters-wrapper {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding-top: 6vh;
}

.big-letters {
	// width: min-content;
	text-align: center;
	font-size: 90px;
	font-weight: 800;
	background-clip: text;
	color: var(--var-text-and-icons);

	animation: changeColor 10s ease infinite;
	animation-delay: 1s;
	letter-spacing: -1px;
}

.big-letters:first-child {
	background-image: linear-gradient(195deg, #ff4100, #ff9900);
}

.big-letters:last-child {
	background-image: linear-gradient(143deg, #ff00ab, #9000ff);
	animation-delay: 5s;
}

.small-letters-wrapper {
	@extend .big-letters-wrapper;
	padding-top: 50px;
	text-align: center;
}

.small-letters {
	width: 600px;
	font-size: 18px;
	font-weight: 400;
	text-wrap: balance;
}

.action-button-wrapper {
	width: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.action-button-container {
	width: 300px;
}

.vert-line {
	width: 2px;
	height: 150px;
	border-radius: 2px;
	background-image: linear-gradient(
		to top,
		var(--var-text-and-icons),
		rgba(255, 153, 0, 0)
	);
}

.content-block {
	@extend .big-letters-wrapper;
	padding-top: 50px;
	gap: 10px;
}

.content-element {
	@extend .big-letters-wrapper;
	flex-direction: row;
	padding-top: 0px;
	gap: 10px;
}

.content-part {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-top: 30px;
	gap: 30px;
	text-align: center;
}

.content-title {
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	letter-spacing: -1px;
}

@media (max-width: 1280px) {
	.header-button {
		right: 20px;
	}
}

@media (max-width: 600px) {
	.big-letters-wrapper {
		gap: 20px;
		padding-top: 20px;
	}

	.big-letters {
		width: 100%;
		text-align: center;
		font-size: 58px;
		font-weight: 800;
		background-clip: text;
		color: var(--var-text-and-icons);

		animation: changeColor 10s ease infinite;
		animation-delay: 1s;
	}

	.small-letters-wrapper {
		padding-top: 50px;
	}

	.small-letters {
		width: 100%;
		font-size: 16px;
		text-wrap: balance;
	}

	.action-button-container {
		width: 100%;
	}

	.content-title {
		font-size: 46px;
		font-weight: 700;
		text-align: center;
		text-wrap: balance;
	}
	
}

@keyframes changeColor {
	0% {
		color: var(--var-text-and-icons);
	}
	10% {
		color: transparent;
	}
	40% {
		color: transparent;
	}
	50% {
		color: var(--var-text-and-icons);
	}
	100% {
		color: var(--var-text-and-icons);
	}
}
